body,
div {
    display: flex;
    flex-direction: column;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03rem;
    width: calc(850px);

    /* outline-style: solid;
    outline-width: 1px;
    outline-color: black; */
    margin: 0;
}

hr {
    border-style: dashed;
    border-color: lightgray;
    margin: 0;
}

li {
    line-height: 1.1rem;
}
span {
    line-height: 1.1rem;
}

ul {
    margin: 0 !important;
    padding-left: 20px;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
