body,
div {
    display: flex;
    flex-direction: column;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    --padding: 0px;
    padding: var(--padding);
    width: calc(850px - 2 * var(--padding));
    height: calc(1100px - 2 * var(--padding));

    /* outline-style: solid;
    outline-width: 1px;
    outline-color: black; */
    margin: 0;
}

hr {
    border-style: dashed;
    border-color: lightgray;
    margin: 0;
}

ul {
    margin: 0 !important;
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
